html,

.sectionPurple {
  left:auto;
  min-height: auto;
  margin-top: -80px;
  background-color: #331a5c;
  background-image: url(./assets/gradient-violet-bg.jpg);
  background-position: 50%, 50%;
  background-size: cover;
  transition: all 300ms ease;
}
.navbar {
  overflow: hidden;
  background-color: transparent;
  position: fixed;
  top: 10pt;
  width: 100%;
  right: 8pt;
}

.navbar > div {
  float: right;
  display: block;
  width: 109px;
  margin: 5px 5px;
  text-align: center;
  font-size: 30px;
  padding: 2pt 2pt;
}

.navButton {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  font-family: "Segoe UI", "Roboto", "Open Sans", "Helvetica Neue", "sans-serif";
}

.transparentButton {
  background-color: transparent;
  border: solid white 1px;
  border-radius: 2px;
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  font-family: "Segoe UI", "Roboto", "Open Sans", "Helvetica Neue", "sans-serif";
}

.foxKast {
  overflow: hidden;
  display: flex;
  background-color: transparent;
  justify-content: flex-end;
  margin: 15pt 10pt;
  position: fixed;
  top: 0pt;
}

.foxKastImg {
  width: 14%;
  float: left;
}

.boatLaptop {
  display: flex;
  background-color: transparent;
  justify-content: center;
  margin-top: 250px;
}

.boatLaptopImg {
  width: 600px;
  height: auto;
}

.watchPartiesMadeEasy {
  display: flex wrap;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  margin-top: 20px;
}

.watchPartiesMadeEasyTitle {
  width: 600px;
  margin: auto;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  font-size: 36pt;
}

.wordBreak {
  width: 550px;
  margin: auto;
  text-align: center;
  font-size: 15pt;
  font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  padding: 25px;
}

.joinMillions {
  margin: auto;
  margin-top: 15pt;
  text-align: center;
  font-size: 15pt;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
}

.button {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-top: 20pt;
  background-color: #ffa319;
  justify-content: center;
  border: none;
  color: white;
  padding: 12px 60px;
  font-size: 18px;
  border-radius: 2pt;
  cursor: pointer;
  font-family: "Segoe UI", "Roboto", "Open Sans", "Helvetica Neue", "sans-serif";
}
